@import '../../assets/styles/colors';
@import '../../assets/styles/generics';
@import '../../assets/styles/mixins';

.main-view {
    height: 100%;
    width: 100%;

    &-content.panel {
        float: right;
        padding: 0;

        .caption {
            text-align: right;
            padding: 5px;
        }
    }

    &-section {
        padding: 10%;

        @media all and (min-width: 768px) {
            padding-left: 15%;
            padding-right: 15%;
        }

        h3 {
            margin-top: 30px;
        }

        &.live-data {
            display: block;
            position: relative;

            &:before {
                content: "";
                background-color: $yellow-1;
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                z-index: -1;
            }

            .t_highlight:after {
                background-color: $teal-1;
            }

            .t_highlight:hover:after {
                background-color: $purple-2;
            }

            .small {
                margin-right: 5px;
            }

            .color-code {
                margin-right: 10px;
            }
        }

        &.projects {
            h3 {
                margin-top: 0;
            }

            .project {
                margin-top: 30px;
            }

            .project-title {
                width: 50%;
                line-height: 1;
            }

            .project-icons {
                width: 50%;
                overflow: hidden;
                text-align: right;
            }

            .project-icon {
                margin-left: 20px;
                display: inline-block;

                &:hover {
                    opacity: 0.5;
                }
            }

            @media all and (min-width: 1024px) {
                .project-title {
                    width: 70%;
                }

                .project-icons {
                    width: auto;
                }
            }
        }

        &.work {
            background-color: $gray-2;

            .job-date {
                display: block;
                padding-bottom: 5px;

                @media all and (min-width: 1024px) {
                    float: right;
                    padding-bottom: 0;
                }
            }
        }

        &.twitter {
            padding-top: 3%;
            padding-bottom: 3%;

            // background-color: $gray-2;
            color: white;
            font-size: 2.2rem;
            text-align: center;
        }

        &.graphic {
            display: block;
            min-height: 330px;
            height: 50%;
            width: 100%;

            background-color: white;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;

            &.pattern {
                background-color: $purple-1;
                background-image: url('/assets/images/geometric-pattern.svg');
            }

            &.coding {
                background-image: url('/assets/images/woctechchat-me-coding.jpg');
            }

            &.standing {
                background-image: url('/assets/images/woctechchat-me-standing-2.png');
            }
        }
    }


    &-footer {
        display: block;
        width: 100%;
        padding: 3% 10%;

        @media all and (min-width: 768px) {
            padding-left: 15%;
            padding-right: 15%;
        }

        background-color: $yellow-1;
        text-align: center;
        text-transform: uppercase;

        &-section {
            display: inline-block;
            vertical-align: middle;
            width: 49%;
        }


        .copyright-section {
            text-align: left;
            line-height: 1.5;
        }

        .twitter-section {
            display: inline-block;
            padding: 0;
            margin: 0;

            @media all and (max-width: 400px){
                font-size: 1.2rem;
                line-height: 30px;
            }

            @media all and (min-width: 768px) and (max-width: 1024px){
                font-size: 1.2rem;
                line-height: 30px;
            }
        }

        .small {
            color: $font-color-dark;
            opacity: 0.5;
        }
    }
}
