<div class="main-view" ng-if="main.render">
    <t:cover
        ng-if="main.currFancyTime"
        fancy-time="main.currFancyTime"
        fancy-weather="main.currFancyWeather">
    </t:cover>
    <div class="main-view-content">
        <div class="main-view-section live-data">
            <h2>
                <t:highlight
                    text="Live-ish"
                    tooltip="The scene displayed to the right (or above) is based on your the current time and weather conditions for your area."
                    tooltip-side="right">
                </t:highlight> Scene
            </h2>
            <span class="micro">Last Updated: {{main.lastUpdated}}</span>
            <div class="main-view-section-data">
                <p class="normal">
                    <span class="small">
                        <t:highlight
                            text="Total Visits:"
                            tooltip="Total visits is fairly inaccurate since it's tracked using local storage, which means it's only for this browser and computer combo."
                            tooltip-side="right">
                        </t:highlight>
                    </span>
                    {{main.totalVisits}}
                </p>
                <p class="normal">
                    <span class="small">
                        <t:highlight
                            text="Time Group:"
                            tooltip="I split the day into chuncks, and based on your current time I determine your Time Group."
                            tooltip-side="right">
                        </t:highlight>
                    </span>
                    {{main.currFancyTime.data.label}}
                </p>
                <p class="normal">
                    <span class="small">
                        <t:highlight
                            text="Time Gradient:"
                            tooltip="The colors used for the gradient animation on the scene, these colors are based on your current Time Group."
                            tooltip-side="right">
                        </t:highlight>
                    </span>
                    <span class="color-code" ng-repeat="item in main.currFancyTime.range track by $index">
                        <span class="swatch" ng-style="{'background': item.color}"></span>
                        {{item.color}}
                    </span>
                </p>
                <p class="normal">
                    <span class="small">
                        <t:highlight
                            text="Weather:"
                            tooltip="If you know, you wanna use my site as your defacto weather.com. It’s kinda cool, and I made some wicked low poly weather graphics."
                            tooltip-side="right">
                        </t:highlight>
                    </span>

                    <span ng-show="main.currFancyWeather.summary">
                        {{main.currFancyWeather.temperature}}° and {{main.currFancyWeather.summary}}
                    </span>

                    <span class="bold"
                         ng-hide="main.currFancyWeather.summary.length > 0"
                         ng-switch on="main.geolocation.statusType">
                        <span ng-switch-when="error-location">{{main.geolocation.statusText}}</span>
                        <span ng-switch-when="success-location">{{main.geolocation.statusText}}</span>
                        <span ng-switch-when="denied-location">You&rsquo;ve <t:highlight
                            tooltip="Go to your browser settings to enable location permissions for thalida.com"
                            text="denied">
                        </t:highlight> location permissions.
                        Your location will be used to get the current weather conditions for your area.</span>
                        <span ng-switch-when="loading-location">Locating&hellip;</span>
                        <span ng-switch-when="loading-weather">Getting weather&hellip;</span>
                        <span ng-switch-when="prompt-location">
                            <a href ng-click="main.actions.getWeather()">Enable Location Data</a> <br />
                            Your location will be used to get the current weather conditions for your area.
                        </span>
                    </span>
                </p>
            </div>
        </div>

        <div class="main-view-section">
            <h2>Introduction</h2>
            <div class="main-view-section-data">
                <p class="normal">
                    I’m a
                    <t:highlight
                        tooltip="An umbrella term for gender and sexual minorities, that are not heterosexual or not cisgender."
                        text="queer">
                    </t:highlight>
                    Trinidadian-American
                    <t:highlight
                        tooltip="A person whose self-identity conforms with the gender that corresponds to their biological sex."
                        text="cisgender">
                    </t:highlight>
                    woman of color.
                    I work as a {{main.currentJob.title}} at
                    <a href="https://etsy.com" target="_blank">{{main.currentJob.company}}</a> in {{main.currentJob.location.state}},
                    and I’ve been active in the engineering world for over 6 years.
                </p>
                <p class="normal">
                    I was lucky enough to have a supportive mother, who got me
                    thalida.com for my 16<sup>th</sup> birthday. It was one of
                    the best gifts I’ve ever received, and is the reason I've
                    become the developer I am today.
                </p>
                <p class="normal">
                    I now work with an amazing team
                    during the day, and in the wee hours of the night I hack away
                    at one of my many side projects. I'm always looking for a
                    coding buddy, so if you're interested, get in touch!
                    <a href="mailto:hello@thalida.com?subject=I'm%20interested">hello@thalida.com</a>
                </p>
                <p class="normal">
                    I’m generally full of questions, and
                    <t:highlight
                        tooltip="One of the greatest drinks ever invented. Period."
                        text="bubble tea.">
                    </t:highlight>
                </p>
            </div>
        </div>

        <div class="main-view-section graphic coding"></div>
        <p class="caption no-buffer">#WOCinTech Chat stock photo | Look, ma my hands!</p>

        <div class="main-view-section projects">
            <h2>Projects</h2>
            <div class="main-view-section-data">
                <div class="project"
                     ng-repeat="project in main.projectsList track by $index"
                     ng-if="project.hidden !== true">
                    <div class="clearfix">
                        <a class="project-title float-left" ng-href="{{project.link}}" target="_blank">
                            <h3 class="ellipsis" ng-bind-html="main.sanitize(project.title)"></h3>
                        </a>
                        <div class="project-icons float-right">
                            <a
                                class="project-icon"
                                ng-if="project.github"
                                ng-href="{{project.github}}"
                                target="_blank">
                                <span class="icon icon-github-blue"></span>
                            </a>
                            <a
                                class="project-icon"
                                ng-if="project.dribbble"
                                ng-href="{{project.dribbble}}"
                                target="_blank">
                                <span class="icon icon-dribbble-blue"></span>
                            </a>
                        </div>
                    </div>
                    <p
                        class="normal no-buffer"
                        ng-bind-html="main.sanitize(project.description)">
                    </p>
                </div>
            </div>
        </div>

        <div class="main-view-section live-data">
            <h2>Featured Project: Live-ish Scene</h2>
            <div class="main-view-section-data">
                <p class="normal">
                    The Live-ish Scene <span class="hidden-mobile">on the left</span> <span class="visible-mobile">at the top</span> automatically updates throughout the day.
                    This project was a very fun experiment for myself, and is something that I find myself coming back to and making
                    little tweaks and improvements on every few months.
                </p>
                <p class="normal">
                    There's a lot going on in the scene, and my intial description was 6 paragraphs, so to mention just two things:
                    the sun &amp; moon rotate around like the hands of a clock, and this project is called "live-ish" because I ask
                    for weather data about twice an hour and time data every minute.
                </p>
                <p class="normal">
                    Basically, everything is dynamic and changes based on time, weather, number of visits, if mercury is in retrograde.
                    Well, not the last part. But, you get the idea. Stuff moves. Text Changes. Cool stuff. Oh, and I made the graphics.
                </p>
            </div>
        </div>

        <div class="main-view-section graphic standing"></div>
        <p class="caption no-buffer">#WOCinTech Chat stock photo | Me, posing for the gods.</p>

        <div class="main-view-section">
            <h2>In the Wild</h2>
            <div class="main-view-section-data">
                <div ng-repeat="extra in main.about.extras">
                    <a ng-href="{{extra.link}}" target="_blank">
                        <h3 ng-bind-html="main.sanitize(extra.title)"></h3>
                    </a>
                    <p class="normal no-buffer">{{extra.description}}</p>
                </div>
            </div>
        </div>

        <div class="main-view-section work">
            <h2>Work History</h2>
            <div class="main-view-section-data">
                <div ng-repeat="job in main.about.work">
                    <h3>{{ job.company }} <span class="job-date">{{ job.start }}</span></h3>
                    <p class="normal no-buffer">{{job.title}}</p>
                </div>
            </div>
        </div>

        <div class="main-view-footer clearfix">
            <div class="main-view-footer-section">
                <p class="copyright-section float-left no-buffer small">
                    &copy; {{main.year}}<br />
                    Emoji by <a href="http://emojione.com/" target="_blank">EmojiOne</a><br />
                    Powered by <a href="https://darksky.net/poweredby/" target="_blank">Dark Sky</a>
                </p>
            </div>
            <div class="main-view-footer-section">
                <h4 class="twitter-section float-right">
                    <a href="https://twitter.com/thalidanoel" target="_blank">
                        <span class="emoji emoji-raised-hands"></span> @thalidanoel
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
