@import '../../assets/styles/colors';
@import '../../assets/styles/generics';
@import '../../assets/styles/mixins';

.main-view {
    height: 100%;
    width: 100%;

    .panel.main-view-content {
        float: right;

        p {
            color: $black-2;
        }
    }

    &-section {
        margin-bottom: 50px;
        h4 {
            margin-top: 18px;
        }
    }
}
