<div class="main-view" ng-if="main.render">
    <t:cover time="main.currFancyTime"></t:cover>
    <div class="panel main-view-content">
        <t:interactive></t:interactive>

        <div class="main-view-section">
            <h2>Introduction</h2>
            <div class="main-view-section-data">
                <p class="normal">
                    I’m a
                    <t:highlight
                        tooltip="An umbrella term for gender and sexual minorities, that are not heterosexual or not cisgender."
                        text="queer">
                    </t:highlight>
                    Trinidadian
                    <t:highlight
                        tooltip="A person whose self-identity conforms with the gender that corresponds to their biological sex."
                        text="cisgender">
                    </t:highlight>
                    woman of color. I’m a Frontend Engineer based in New York, and I’ve been active in the engineering world for
                    6 years.
                </p>
                <p class="normal">
                    I was lucky enough to have a supportive mother, who got me
                    thalida.com for my 16<sup>th</sup> birthday. It was one of
                    the best gifts I’ve ever received, and is the reason I've
                    become the developer I am today.
                </p>
                <p class="normal">
                    I now work with a great group of engineers at Kinnek
                    (<a href="https://kinnek.com/careers" target="_blank">we’re hiring!</a>)
                    during the day, and in the wee hours of the night I hack away
                    at one of my many side projects. I'm always looking for a
                    coding buddy, so if you're interested, get in touch!
                    <a href="mailto:hello@thalida.com?subject=I'm%20interested">hello@thalida.com</a>
                </p>
                <p class="normal">
                    I’m generally full of questions, and
                    <t:highlight
                        tooltip="One of the greatest drinks ever invented. Period."
                        text="bubble tea.">
                    </t:highlight>
                </p>
            </div>
        </div>

        <div class="main-view-section graphic coding"></div>
        <p class="caption no-buffer">#WOCinTech Chat stock photo | Look, ma my hands!</p>

        <div class="main-view-section projects">
            <h2>Projects</h2>
            <div class="main-view-section-data">
                <div class="project" ng-repeat="project in main.projectsList">
                    <div class="clearfix">
                        <a class="float-left" ng-href="{{project.link}}">
                            <h3 ng-bind-html="main.sanitize(project.title)"></h3>
                        </a>
                        <div class="float-right">
                            <a
                                class="project-icon"
                                ng-if="project.github"
                                ng-href="{{project.github}}"
                                target="_blank">
                                <span class="icon icon-github-blue"></span>
                            </a>
                            <a
                                class="project-icon"
                                ng-if="project.dribbble"
                                ng-href="{{project.dribbble}}"
                                target="_blank">
                                <span class="icon icon-dribbble-blue"></span>
                            </a>
                        </div>
                    </div>
                    <p
                        class="normal no-buffer"
                        ng-bind-html="main.sanitize(project.description)">
                    </p>
                </div>
            </div>
        </div>

        <div class="main-view-section graphic standing"></div>
        <p class="caption no-buffer">#WOCinTech Chat stock photo | Me, posing for the gods.</p>

        <div class="main-view-section">
            <h2>In the Wild</h2>
            <div class="main-view-section-data">
                <div ng-repeat="extra in main.about.extras">
                    <a ng-href="{{extra.link}}" target="_blank">
                        <h3 ng-bind-html="main.sanitize(extra.title)"></h3>
                    </a>
                    <p class="normal no-buffer">{{extra.description}}</p>
                </div>
            </div>
        </div>

        <div class="main-view-section work">
            <h2>Recent Work</h2>
            <div class="main-view-section-data">
                <div ng-repeat="job in main.about.work">
                    <h3>{{ job.company }} <span class="float-right">{{ job.start }}</span></h3>
                    <p class="normal no-buffer">{{job.title}}</p>
                </div>
            </div>
        </div>

        <div class="main-view-footer clearfix">
            <p class="float-left no-buffer small">
                &copy; {{main.year}} |
                Emoji by <a href="http://emojione.com/" target="_blank">EmojiOne</a>
            </p>
            <h4 class="twitter-section float-right">
                <a href="https://twitter.com/thalidanoel" target="_blank">
                    <span class="emoji emoji-raised-hands"></span> @thalidanoel
                </a>
            </h4>
        </div>
    </div>
</div>
