@import '../../assets/styles/colors';
@import '../../assets/styles/generics';
@import '../../assets/styles/sprites';

.t_cover {
    display: block;
    position: relative;
    height: 100%;
    width: 50%;
    padding: 100px;
    overflow: auto;

    box-shadow: 0px 0px 15px 0px rgba(black, 0.50);

    &.white {
        color: $font-color-light;
    }

    &.black {
        color: $font-color-dark;
    }

    &-salutation,
    &-note {
        opacity: 0.5;
    }

    &-greeting { }

    &-intro {
        margin-top: 64px;
    }

    &-note {
        margin: 0;
        padding: 0;
    }
}
