@import '../../assets/styles/colors';
@import '../../assets/styles/generics';
@import '../../assets/styles/sprites';

.t_cover {
    display: block;
    position: relative;
    min-height: 400px;
    height: 90%;
    width: 100%;
    padding: 10% 50px 50px;
    overflow: auto;

    box-shadow: 0px 0px 15px 0px rgba(black, 0.50);

    @media all and (min-width: 768px) {
        height: 100%;
        width: 50%;
        padding: 10% 70px 70px;
    }

    @media all and (min-width: 1024px) {
        height: 100%;
        width: 50%;
        padding: 10% 100px 100px;
    }

    &.white {
        color: $font-color-light;
    }

    &.black {
        color: $font-color-dark;
    }

    &-salutation,
    &-note {
        opacity: 0.5;
    }

    &-greeting {
    }

    &-intro {
        margin-top: 64px;
    }

    &-note {
        margin: 0;
        padding: 0;
    }
}
