@import '../../assets/styles/colors';
@import '../../assets/styles/generics';
@import '../../assets/styles/sprites';
@import '../../assets/styles/animations';

.t_cover {
    @extend .panel;

    display: flex;
    justify-content: center;
    align-items: center;

    float: left;
    min-height: 400px;

    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;

    box-shadow: 0px 0px 15px 0px rgba(black, 0.50);
    background-size: 400% 400%;
    -webkit-animation: gradient $animationTiming 30s infinite;
    animation: gradient $animationTiming 30s infinite;

    @media all and (min-width: 768px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media all and (min-width: 1024px) {
        padding-left: 100px;
        padding-right: 100px;
    }

    &.white {
        color: $font-color-light;
    }

    &.black {
        color: $font-color-dark;
    }

    &-salutation,
    &-note {
        opacity: 0.5;
    }

    &-greeting {
    }

    &-intro {
        margin-top: 64px;
    }

    &-note {
        margin: 0;
        padding: 0;
    }
}
