<div class="t_cover" ng-class="[$ctrl.fontColor]">
    <div class="t_cover-content">
        <h2
            class="t_cover-salutation"
            ng-bind-html="$ctrl.sanitize($ctrl.salutation)">
        </h2>
        <h1
            class="t_cover-greeting"
            ng-bind-html="$ctrl.sanitize($ctrl.greeting.text)">
            {{$ctrl.greeting.text}}
        </h1>
        <h2 class="t_cover-intro">
            I'm Thalida.<br />
            Senior Frontend Engineer. <span ng-bind-html="$ctrl.sanitize($ctrl.funFact.text)"></span>.
        </h2>
        <p class="t_cover-note">
            <span class="emoji emoji-palm-pointing-up"></span>
            no specified order of importance
        </p>

        <div class="t_cover-social">
            <a href="http://github.com/thalida" target="_blank">
                <span class="icon icon-github-white"></span>
            </a>
            <a href="https://dribbble.com/thalida" target="_blank">
                <span class="icon icon-dribbble-white"></span>
            </a>
            <a href="https://twitter.com/thalidanoel" target="_blank">
                <span class="icon icon-twitter-white"></span>
            </a>
        </div>
    </div>
</div>
