@import '../../assets/styles/colors';
@import '../../assets/styles/generics';
@import '../../assets/styles/animations';

.t_highlight {
    @extend .clickable;

    display: inline-block;
    position: relative;
    margin: 0px 3px;

    font-weight: 700;

    -webkit-transition: all 500ms;
    transition: all 500ms;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 90%;
        height: 8px;
        top: 14px;
        left: 10%;
        z-index: -1;

        -webkit-transition: all 500ms;
        transition: all 500ms;

        background-color: $yellow-2;
    }

    &-tooltip {
        width: 200px;

        font-size: 1.6rem;
        font-weight: 100;
        line-height: 1.2;
        text-align: center;
    }

    &:hover {
        &:after {
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;

            background-color: $teal-1;
        }
    }
}
