{% extends "base/base.html" %}
{% block title %}
    {{ post.meta.title }}
{% endblock %}

{% block styles %}
    <link href="/static/styles/markdown-themes/markdown3.css" rel="stylesheet">
    <link href="/static/styles/highlight-themes/default.css" rel="stylesheet">
    <link href="post.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script>
window.app_post_meta = {{ post.meta | tojson }};
</script>
{% endblock %}

{% block body %}
    {{ post.meta | safe }}
    {{ post.html | safe }}
{% endblock %}
