{% extends "base/base.html" %}
{% block title %}
    {{ meta.title }}
{% endblock %}

{% block styles %}
    <!-- <link href="/static/styles/markdown-themes/modest.css" rel="stylesheet"> -->
    <link href="/static/styles/markdown-themes/markdown3.css" rel="stylesheet">
    <link href="/static/styles/highlight-themes/default.css" rel="stylesheet">
    <!-- <link href="/static/styles/highlight-themes/manni.css" rel="stylesheet"> -->
    <link href="post.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    {{ meta | safe }}
    {{ content | safe }}
{% endblock %}
