@include keyframes(breathing-valign) {
	0%,
	100% {
		-webkit-transform: translateY(-50%) scale(0.95);
		transform: translateY(-50%) scale(0.95);
	}

	50% {
		-webkit-transform: translateY(-50%) scale(1);
		transform: translateY(-50%) scale(1);
	}
}

@include keyframes(breathing) {
	0%,
	100% {
		-webkit-transform: translateY(0%) scale(0.95);
		transform: translateY(0%) scale(0.95);
	}

	50% {
		-webkit-transform: translateY(0%) scale(1);
		transform: translateY(0%) scale(1);
	}
}

@include keyframes(breathing-shadow) {
	0%,
	100% {
		// box-shadow: 0px 0px 2px rgba(#000, 1); //behind
		// box-shadow: 0px 1px 2px rgba(#000, 0.9); //bottom
		box-shadow: 2px 2px 2px rgba(#000, 0.2); //right
	}
	50% {
		// box-shadow: 0px 0px 24px rgba(#000, 0.2); //behinde
		// box-shadow: 0px 12px 12px rgba(#000, 0.12); //bottom
		box-shadow: 12px 12px 4px rgba(#000, 0.1); //right
	}
}
