# ==============================================================================
# GITHUB PYTHON DEFAULT IGNORES
#-------------------------------------------------------------------------------
__pycache__/
.DS_Store
.sublime/
.cache/
.env