<section id="content-social-links"></section>
<section id="content-header" class="banner about">
</section>
<section id="content-links">
	<a href="./public/content/resume.pdf" target="_blank" id="website-link" class="button">R&eacute;sum&eacute;</a>
	<a href="http://dribbble.com/thalida" target="_blank" id="github-link" class="button">Dribbble</a>
</section>
<section id="content-text">
	<span id="quote">
		<p>
			I’m a young woman who enjoys making websites, beta testing, learning about new technologies, and a good debate. 
		</p>
	</span>
	<span id="description">
		<p>
			thalida.com came into this world on my 16th birthday. She’s the best gift a young woman could ever receive; I love you mom! I first used this site as my practice ground for teaching myself web development skills, and later as my skill-sets grew she’s grown into a way for me to showcase my work, share my thoughts, and demo my various projects. 
			<br /><br />
			I believe that this current iteration of her is the best yet, and it's not even fully completed! It's been an amazing journey, and I can't wait to see where we will go in the future.
		</p>
	</span>
</section>
<section id="content-long-text">
<% console.log(Posts) %>
<h1 class="prominent">Dear <%= LiveData.person.name %>,</h1>
<p>
I have been interested in web development since high school, I got sidetracked by robotics, but I always came back to my one true love. I can’t believe I’m admitting this, but I got my first introduction to HTML from Myspace, yeah I know. Since then I’ve grown, gotten more experience, and become the developer I am today. I must say that since this site isn’t coved in glitter and rainbows, my MySpace experience couldn't have been all that bad.
</p>
<p>
Through my internships and freelance work, I've gained experience with HTML/CSS, JavaScript, and PHP. I’ve also worked with the following libraries: jQuery, Node, Socket.io, Underscore, Backbone, and Require. I have some general knowledge of Perl and Ruby, and have worked with MySQL and MongoDB.
</p>
<p>
When I’m not thinking of wicked websites to create (and not playing Minecraft), I can generally be found reading or on Netflix (Continuum is amazing, you should definitely watch it). Camping and small hiking trips are also a thing in my life, so if you know of any good trails in the DMV area let a girl know!
</p>
<p>
Anyway, this has been a pleasure, it's been a while since I've had to write a letter, and I hope you get in contact with me so that I can get to know you as well!
</p>
<br />
<p>
Wishing you the best,<br />
Thalida
</p>
</section>
<section id="content-list">
	<h1 id="continue-reading">P.S. Here are two of my fav projects</h1>
	<div id="content-<%= Posts[0].id %>" class="content-item" style="background-color: <%= Posts[0].color %>">
		<span class="item-icon"><img src="./public/content/images/icons/<%= Posts[0].icon %>" /></span>
		<span class="item-title" style="color: <%= Posts[0].fontColor %>"><%= Posts[0].title %></span>
		<span class="item-color" style="color: <%= Posts[0].fontColor %>"><%= Posts[0].color %></span>
	</div>
	<div id="content-<%= Posts[1].id %>" class="content-item" style="background-color: <%= Posts[1].color %>">
		<span class="item-icon"><img src="./public/content/images/icons/<%= Posts[0].icon %>" /></span>
		<span class="item-title" style="color: <%= Posts[1].fontColor %>"><%= Posts[1].title %></span>
		<span class="item-color" style="color: <%= Posts[1].fontColor %>"><%= Posts[1].color %></span>
	</div>
</section>
