<p>
<%= person.name %>, my goal was to create a website which customized and changed itself to the person viewing it, and with modern browsers and technologies this idea was not only possible, it was made simple.
</p>
<p>
So, what does this site do? Well, based on the the time of day, the background will change from day-mode to night-mode (thanks <a href="http://mikaeledwards.com/" target="_blank">Mikael</a>, for suggesting this), the main page will also show the current time, temperature, weather, and date for your location. In addition to showing that information, the backgrounds for each sections will change based on the data. Ah, the power of technology.
</p>
<p>
You may also have noticed that your name, in this case <%= person.name %>, is used across the site, and if you haven't played with it yet, <span class="bold">you can change your name on the homepage!</span>
</p>
<p>
All of these different things, while cool, also make my site tuned to you, and as I continue to fine-tune everything, the site will be different for each person who visits it, no two people will have/see the exact same things.
</p>
<p>
I built this site using Require.js, Backbone.js, Underscore.js, Slim PHP, and Forecast IO. All icons were either made by me or part of the Flaticons.co package. In addition, no data is saved or stored remotely! If you're using Chrome/Firefox you can easily edit and delete the data by modifying your local and session storage.
</p>
<p>
I hope that through my efforts I have been able to make a deeper connection to you, and also show you that so much is possible you only have to reach out and code it!
</p>