.notion-callout.border {
  border: 1px solid var(--color-text-default);
}

.notion-callout.border.bg-gray,
.notion-callout.border.bg-gray-light,
.notion-callout.border.bg-brown,
.notion-callout.border.bg-brown-light,
.notion-callout.border.bg-orange,
.notion-callout.border.bg-orange-light,
.notion-callout.border.bg-yellow,
.notion-callout.border.bg-yellow-light,
.notion-callout.border.bg-green,
.notion-callout.border.bg-green-light,
.notion-callout.border.bg-blue,
.notion-callout.border.bg-blue-light,
.notion-callout.border.bg-purple,
.notion-callout.border.bg-purple-light,
.notion-callout.border.bg-pink,
.notion-callout.border.bg-pink-light,
.notion-callout.border.bg-red,
.notion-callout.border.bg-red-light {
  border: 0;
}

.notion-callout.border.color-gray,
.notion-callout.border.color-gray-light {
  border: 1px solid var(--color-t-gray-light);
}
.notion-callout.border.color-brown,
.notion-callout.border.color-brown-light {
  border: 1px solid var(--color-t-brown-light);
}
.notion-callout.border.color-orange,
.notion-callout.border.color-orange-light {
  border: 1px solid var(--color-t-orange-light);
}
.notion-callout.border.color-yellow,
.notion-callout.border.color-yellow-light {
  border: 1px solid var(--color-t-yellow-light);
}
.notion-callout.border.color-green,
.notion-callout.border.color-green-light {
  border: 1px solid var(--color-t-green-light);
}
.notion-callout.border.color-blue,
.notion-callout.border.color-blue-light {
  border: 1px solid var(--color-t-blue-light);
}
.notion-callout.border.color-purple,
.notion-callout.border.color-purple-light {
  border: 1px solid var(--color-t-purple-light);
}
.notion-callout.border.color-pink,
.notion-callout.border.color-pink-light {
  border: 1px solid var(--color-t-pink-light);
}
.notion-callout.border.color-red,
.notion-callout.border.color-red-light {
  border: 1px solid var(--color-t-red-light);
}
