.notion-link.link,
.notion-collection-table__cell.title .notion-link,
.notion-text__content .notion-link.link {
  color: var(--color-text-default);
  opacity: 1;
  border-bottom: 0;
  display: inline-block;
  position: relative;
  padding: 2px;
  cursor: pointer;

  &:after {
    content: "";
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background-color: var(--color-text-blue);
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transition: all 200ms ease-in-out;
  }

  &:hover:after {
    height: 100%;
    z-index: -1;
    transform: skewY(-2deg);
  }
}


.notion-text.color-blue .notion-link,
.highlighted-color.color-blue .notion-link {
  display: inline-block;
  border: 2px solid var(--color-bg-blue);
  border-radius: 50px;
  padding: .5rem 1rem;
  text-align: center;
  width: 100%;
  min-width: 150px;
  color: #fff;
  opacity: 1;
  transition: all 200ms ease-in-out;

  &:after {
   display: none;
  }

  &:hover {
    transform: skewY(-2deg);
    color: var(--color-text-default);
    opacity: 0.8;
  }
}
