* { box-sizing: border-box; }

/*html {
  font-size: 100%;
}*/
/*@media (max-width: 70.0em) {
    html {
        font-size: 50%;
    }
}*/

body {
    border: 0;
    padding: 0;

    color: #1C2233;
    font: normal normal 62.5% 'PT Serif', serif;
}

a {
    text-decoration: none;
}

.header--primary {
    margin: 0;
    padding: 0;
    font: normal 300 6.4em 'Merriweather', serif;
    line-height: 1.2em;
    text-align: center;
}

.header--secondary {
    margin: 0;
    padding: 0;
    font: normal 700 3.2em 'Merriweather', serif;
    line-height: 2em;
}

.header--tertiary {
    margin: 0;
    padding: 0;
    font: normal 700 1.8em 'Merriweather', serif;
    line-height: 2em;
}

.text--primary {
    font-size: 1.6em;
    line-height: 1.5em;
}

.text--micro {
    font-size: 1.2em;
    line-height: 1.1em;
}

.text--bold {
    font-weight: 700;
}

.text--italic {
    font-style: italic;
}

.link--primary {
    display: inline-block;
    color: #4A84FF;
}
    .link--primary:after {
        content: "";

        display: block;
        height: 1px;
        width: 100%;
        margin-top: -0.2em;

        background-color: #4A84FF;

        -webkit-transition: opacity 50ms, margin-top 150ms;
        transition: opacity 50ms, margin-top 150ms;
    }
    .link--primary:hover:after {
        content: "";
        margin-top: -0.6em;
        background-color: #1C2233;
        opacity: 0.5;
    }

.text-align--left {
    text-align: left;
}
.text-align--center {
    text-align: center;
}
.text-align--right {
    text-align: right;
}

.word-break--keep-all {
    word-break: keep-all;
}


.collection {
    margin: 7.0rem 0;
}
    .collection__header {
        line-height: 1em;
    }
    .collection__icon {}
    .collection__summary {
        padding: 0;
        margin: 0.5em 0 0;
    }
    .collection__posts {
        display: grid;
        margin: 2.0rem 0 0;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, 100%);
    }
    @media (min-width: 40.0em) {
        .collection__posts {
            grid-gap: 3.2rem;
            grid-template-columns: repeat(auto-fill, minmax(20.0rem, 1fr));
        }
    }


.post-card {
    display: flex;
    flex-direction: column;
    position: relative;
    
    min-height: 8.0rem;
    max-height: 12.0rem;
    padding: 0 0 16px 0;

    border-bottom: 1px solid #E5E6E7;
    color: #1C2233;
    text-decoration: none;

    -webkit-transition: border-bottom-color 500ms;
    transition:border-bottom-color 500ms;
}
    .post-card__header {}
    .post-card__icon {}
    .post-card__summary {
        padding: 0;
        margin: 0;
    }
    .post-card__details {
        margin-top: auto;
        padding-top: 2.0em;
    }
    .post-card--external {}
    .post-card--featured {
        border-bottom-color: #FFB233;
    }
    .post-card:hover {
        border-bottom-color: #1EFF7A;
    }
    /*@media (max-width: 320px) {
        .post-card {
            width: 100%;
        }
    }*/
