/*******************************************************************************
 * COLORS
 *******************************************************************************
 * Darkest Blue - #1C2233
 * Blue - #4A84FF
 * Green - #1EFF7A, rgb(30, 255, 122)
 * Yellow - #FFB233, rgba(255, 187, 51, 1.)
 * 
 * White - #FFFFFF
 * Light Gray - #E5E6E7
 * 
 ******************************************************************************/

* { box-sizing: border-box; }

html {
  font-size: 100%;
}
@media (max-width: 70.0em) {
    html {
        font-size: 80%;
    }
}

body {
    border: 0;
    padding: 0;

    background-color: #FFFFFF;
    color: #1C2233;
    font: normal normal 62.5% 'PT Serif', serif;
}

a {
    text-decoration: none;
}

.header--primary {
    margin: 0;
    padding: 0;
    font: normal 300 6.4em 'Merriweather', serif;
    line-height: 1.2em;
    text-align: center;

     -ms-word-break: break-all;
     word-break: break-all;
     /* Non standard for WebKit */
     word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
}
@media (max-width: 60.0em) {
    .header--primary.header--responsive {
        font-size: 5.0em;
    }
}

.header--secondary {
    margin: 0;
    padding: 0;
    font: normal 700 3.2em 'Merriweather', serif;
    line-height: 2em;
}
@media (max-width: 60.0em) {
    .header--secondary.header--responsive {
        font-size: 3.0em;
    }
}

.header--tertiary {
    margin: 0;
    padding: 0;
    font: normal 700 1.8em 'Merriweather', serif;
    line-height: 2em;
}

.text--primary {
    font-size: 1.6em;
    line-height: 1.5em;
}

.text--micro {
    font-size: 1.2em;
    line-height: 1.1em;
}

.text--bold {
    font-weight: 700;
}

.text--italic {
    font-style: italic;
}

.link--primary {
    display: inline-block;
    color: #4A84FF;
}
    .link--primary:after {
        content: "";

        display: block;
        height: 1px;
        width: 100%;
        margin-top: -0.2em;

        background-color: #4A84FF;

        -webkit-transition: opacity 50ms, margin-top 150ms;
        transition: opacity 50ms, margin-top 150ms;
    }
    .link--primary:hover:after {
        content: "";
        margin-top: -0.6em;
        background-color: #1C2233;
        opacity: 0.5;
    }

.link--micro {
    display: inline-block;
    color: #4A84FF;
    text-decoration: underline;

    -webkit-transition: color 300ms;
    transition: color 300ms;
}
    .link--micro:hover {
        color: #1EFF7A;
    }

.text-align--left {
    text-align: left;
}
.text-align--center {
    text-align: center;
}
.text-align--right {
    text-align: right;
}

.word-break--keep-all {
    word-break: keep-all;
}

.site-wrapper {
    margin: 0 auto;
    width: 85%;
}
@media (min-width: 40.0em) {
    .site-wrapper {
        width: 70%;
    }
}

.header {
    display: block;
    position: relative;
    width: 100%;
    margin: 2.0rem 0 10.0rem;

    text-align: center;
}
    .header__link {
        margin: 0;
        padding: 0;
        
        color: #1C2233;
        font: normal 700 1.8em 'Merriweather', serif;
        line-height: 2em;
        text-decoration: none;
    }
    .header__link:before,
    .header__link:after {
        content: "";
        display: inline-block;
        width: 2.4em;
        height: 0.3em;
        margin: 0 0.3em;
        border-radius: 0.3em;
        vertical-align: middle;
        background-color: #E5E6E7;
    }

.footer {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;

    margin: 10.0rem 0 2.0rem;
}
    .footer__copyright {
        position: relative;
        text-align: left;
    }
    .footer__credits {
        position: relative;
        text-align: right;
    }

.collections { margin-top: 14.0rem }
    .collections__header {}

.collection {
    margin: 7.0rem 0;
}
    .collection__header {
        line-height: 1em;
        padding-left: 1.4rem;
    }
    .collection__icon {}
    .collection__summary {
        padding: 0 0 0 1.4rem;
        margin: 0.5em 0 0;
    }
    .collection__posts {
        display: grid;
        grid-gap: 0rem;
        grid-template-columns: repeat(auto-fill, 100%);

        margin: 2.0rem 0 0;
    }
    @media (min-width: 40.0em) {
        .collection__posts {
            grid-gap: 2.0rem;
            grid-template-columns: repeat(auto-fill, minmax(20.0rem, 1fr));
        }
    }

.post-card {
    display: flex;
    flex-direction: column;
    position: relative;
    
    min-height: 8.0rem;
    max-height: 12.0rem;
    padding: 1.4rem;

    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom: 1px solid #E5E6E7;
    color: #1C2233;
    text-decoration: none;

    -webkit-transition: border-bottom-color 1200ms, background-color 300ms;
    transition: border-bottom-color 1200ms, background-color 300ms;
}
    .post-card__header {}
    .post-card__icon {}
    .post-card__summary {
        padding: 0;
        margin: 0;
    }
    .post-card__details {
        margin-top: auto;
        padding-top: 2.0em;
    }
    .post-card--external {}
    .post-card--featured {
        background-color: rgba(255, 187, 51, 0.05);;
        border-bottom-color: rgba(255, 187, 51, 1);
    }
    .post-card:hover {
        background-color: rgba(30, 255, 122, 0.05);
        border-bottom-color: rgba(30, 255, 122, 1);
    }
