.home {}


.scene {}
    .scene__window {}
    .scene__label {}


.about {
    margin-top: 10.0rem;
}
    .about__header {
        margin-bottom: 7.0rem;
    }
    .about__leaves {
        display: inline-block;
    }
    .about__leaves:after {
        content: "";
        display: block;
        position: absolute;
        text-indent: -9999px;

        height: 2.0em;
        width: 2.0em;
        margin-top: -0.5em;
        margin-left: 0.4em;

        background: url(/static/images/home/about__leaves.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .about__content {
      -webkit-columns: 2 20rem;
         -moz-columns: 2 20rem;
              columns: 2 20rem;
      -webkit-column-gap: 2.5rem;
         -moz-column-gap: 2.5rem;
              column-gap: 2.5rem;
    }
    .about__text{
        margin: 0 0 1.0rem;
    }

.jobs {
    margin: 14.0rem 0 7.0rem;
    opacity: 0.6;
}
    .jobs__header {}
    .jobs__content {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, 100%);
        
        margin: 2.0rem 0 0;
        padding: 0;

        list-style-type: none;
    }
    @media (min-width: 40.0em) {
        .jobs__content {
            grid-gap: 3.2rem;
            grid-template-columns: repeat(auto-fill, minmax(20.0rem, 1fr));
        }
    }

.job {
    display: flex;
    flex-direction: column;
    position: relative;
    
    min-height: 8.0rem;
    max-height: 12.0rem;
    padding: 0 0 16px 0;

    border-bottom: 1px solid #E5E6E7;
    text-align: center;
}
    .job__company {}
    .job__title {
        margin: 0;
    }
    .job__duration {}
