.post {}
    .post_header {
        width: 90%;
        max-width: 800px;
        margin: 7.0rem auto 4rem;
    }
    .post_summary {
        margin: 0;
        color: rgba(28, 34, 51, 0.6);
    }
    .post_details {
        font-weight: 300;
        font-size: 1.2em;
    }
    .post_content {
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
    }
    .post_footer {
        margin: 7.0rem 0 0;
        padding: 4rem 0 0;
        border-top: 4px solid #E5E6E7;
    }
        .post_footer .card-grid {
            margin: 0;
        }
.collection__header {
    text-align: center;
}

.
