$black-1: black;

$gray-1: rgba($black-1, 0.8);
$gray-2: rgba($black-1, 0.02);

$white-1: white;

$purple-1: #5953FF;

$blue-1: #0073FF;

$yellow-1: #FEE980;

$font-color-light: $white-1;
$font-color-dark: $black-1;
