$black-1: black;

$gray-1: rgba($black-1, 0.8);
$gray-2: rgba($black-1, 0.02);

$white-1: white;

$purple-1: #5953FF;
$purple-2: rgba($purple-1, 0.2);

$blue-1: #0073FF;
$blue-2: rgba($blue-1, 0.5);

$teal-1: #77FFCD;

$yellow-1: #FEE980;
$yellow-2: rgba($yellow-1, 0.5);

$font-color-light: $white-1;
$font-color-dark: $black-1;
