$blue-1: #464EFF;
$blue-2: #323D89;
$blue-3: #262C5D;
$blue-4: #0091F9;
$blue-5: #3B42D9;

$teal-1: #1FFFBC;

$yellow-1: #FFE066;
$yellow-2: #FFC107;

$pink-1: #FF6464;

$faded-black-1: rgba(black, 0.15);
$faded-black-2: rgba(black, 0.05);
$faded-black-3: rgba(black, 0.4);

$faded-white-1: rgba(white, 0.75);
$faded-white-2: rgba(white, 0.60);
