%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%disable-selection {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

%clickable {
    cursor: pointer;
    @extend %disable-selection;
}

.panel {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    padding: 50px;
    overflow: auto;

    @media all and (min-width: 768px) {
        height: 100%;
        width: 50%;
    }

    @media all and (min-width: 1024px) {
        height: 100%;
        width: 50%;
    }
}

.float-left {
    float: left;
    position: relative;
}

.float-right {
    float: right;
    position: relative;
}
