%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%disable-selection {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

%clickable {
    cursor: pointer;
    @extend %disable-selection;
}

.float-left {
    float: left;
    position: relative;
}

.float-right {
    float: right;
    position: relative;
}
