@import './mixins';
@import './colors';

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clickable {
    cursor: pointer;
    @extend %disable-selection;
}

.float-left {
    float: left;
    position: relative;
}

.float-right {
    float: right;
    position: relative;
}

.bold {
    font-weight: 700;
}

.visible-mobile {
    display: initial;

    @media all and (min-width: 768px) {
        display: none;
    }
}

.hidden-mobile {
    display: none;

    @media all and (min-width: 768px) {
        display: initial;
    }
}


h1 {
    margin: 0;
    padding: 0;

    font-family: 'Merriweather', serif;
    font-size: 5.0rem;
    font-weight: 300;
    line-height: 1.2;

    @media all and (min-width: 768px) {
        font-size: 6.0rem;
    }

    @media all and (min-width: 1024px) {
        font-size: 7.0rem;
    }
}

h2 {
    margin: 0;
    padding: 0;

    display: block;
    font-size: 1.8rem;
    font-weight: 300;

    span {
        font-size: 1.8rem;
    }


    @media all and (min-width: 768px) {
        &,
        span {
            font-size: 2.0rem;
        }
    }

    @media all and (min-width: 1024px) {
        &,
        span {
            font-size: 2.2rem;
        }
    }
}

h3 {
    margin: 0;
    padding: 0;

    display: block;
    font-size: 1.8rem;
    font-weight: 300;
}

a {
    color: $blue-1;
    text-decoration: none;

    -webkit-transition: all 500ms;
    transition: all 500ms;

    &:hover {
        color: $black-1;
    }
}

p,
span {
    font-size: 1.4rem;
    font-weight: 100;

    @media all and (min-width: 768px) {
        font-size: 1.6rem;
    }

    @media all and (min-width: 1024px) {
        font-size: 1.8rem;
    }

    &.normal {
        color: $gray-1;
    }

    &.small,
    &.micro {
        color: $gray-1;
        font-size: 1.1rem;
    }

    &.micro {
        font-weight: 100;
    }

    &.caption {
        color: rgba($font-color-dark, 0.3);
        font-size: 1.1rem;
    }

    &.no-buffer {
        margin: 0;
        padding: 0;
    }

    &.no-buffer-top {
        margin-top: 0;
        padding-top: 0;
    }
}
