@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* @theme {
  --color-brand-50: oklch(95.63% 0.005 286.52);
  --color-brand-100: oklch(92.36% 0.008 286.38);
  --color-brand-200: oklch(83.67% 0.018 286.06);
  --color-brand-300: oklch(75.97% 0.026 285.81);
  --color-brand-400: oklch(68.41% 0.034 285.5);
  --color-brand-500: oklch(60.68% 0.044 285.04);
  --color-brand-600: oklch(51.96% 0.052 284.47);
  --color-brand-700: oklch(44.2% 0.056 283.91);
  --color-brand-800: oklch(36.48% 0.048 283.78);
  --color-brand-900: oklch(28.68% 0.038 283.74);
  --color-brand-950: oklch(24.34% 0.032 283.76);
} */

/* @theme {
  --color-brand-50: #f4f2f1;
  --color-brand-100: #eae8e6;
  --color-brand-200: #d6d2cc;
  --color-brand-300: #c1bbb3;
  --color-brand-400: #aba297;
  --color-brand-500: #968b7d;
  --color-brand-600: #7f7467;
  --color-brand-700: #655d52;
  --color-brand-800: #4c463e;
  --color-brand-900: #332f29;
  --color-brand-950: #25221e;
} */

/* @theme {
  --color-brand-50: oklch(95.88% 0.017 40.86);
  --color-brand-100: oklch(92.25% 0.031 40.11);
  --color-brand-200: oklch(84.23% 0.071 42.84);
  --color-brand-300: oklch(75.95% 0.123 48.32);
  --color-brand-400: oklch(66.63% 0.127 50.7);
  --color-brand-500: oklch(57.89% 0.11 51);
  --color-brand-600: oklch(48.96% 0.094 50.44);
  --color-brand-700: oklch(40.3% 0.077 50.43);
  --color-brand-800: oklch(31.66% 0.06 50.73);
  --color-brand-900: oklch(22.78% 0.043 51.7);
  --color-brand-950: oklch(18.01% 0.033 52.57);
} */

@theme {
  --color-brand-50: oklch(96.62% 0.004 39.81);
  --color-brand-100: oklch(93.81% 0.007 39.62);
  --color-brand-200: oklch(84.74% 0.02 41.83);
  --color-brand-300: oklch(76.27% 0.036 42.66);
  --color-brand-400: oklch(67.55% 0.041 40.49);
  --color-brand-500: oklch(59.01% 0.035 42.98);
  --color-brand-600: oklch(49.33% 0.03 41.93);
  --color-brand-700: oklch(40.86% 0.025 44.95);
  --color-brand-800: oklch(32.08% 0.02 43.85);
  --color-brand-900: oklch(22.64% 0.014 41.6);
  --color-brand-950: oklch(17.82% 0.01 52.79);
}

live-window {
  position: relative;
}

.dark live-window::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/noise/030.png');
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  opacity: 0.2;
  background-color: #00BEFF;
  background-blend-mode: color-burn;
}
