@import './assets/styles/generics';
@import './assets/styles/mixins';
@import './assets/styles/colors';

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

body {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;

    background: white;
    font: normal normal 16px/1.5 'Signika', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6rem;

    // https://gist.github.com/pburtchaell/e702f441ba9b3f76f587
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
        height: 1024px;
    }

    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
        height: 768px;
    }

    @media screen and (device-aspect-ratio: 40/71) {
        height: 500px;
    }


    @media all and (min-width: 768px) {
        overflow: hidden;
    }

    @media all and (min-width: 1024px) {
        overflow: hidden;
    }
}

.app {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

h1 {
    margin: 0;
    padding: 0;

    font-family: 'Merriweather', serif;
    font-size: 5.0rem;
    font-weight: 300;
    line-height: 1.2;

    @media all and (min-width: 768px) {
        font-size: 6.0rem;
    }

    @media all and (min-width: 1024px) {
        font-size: 7.0rem;
    }
}

h2 {
    margin: 0;
    padding: 0;

    display: block;
    font-size: 1.8rem;
    font-weight: 300;


    @media all and (min-width: 768px) {
        font-size: 2.0rem;
    }

    @media all and (min-width: 1024px) {
        font-size: 2.2rem;
    }
}

h3 {
    margin: 0;
    padding: 0;

    display: block;
    font-size: 1.8rem;
    font-weight: 300;
}

a {
    color: $blue-1;
    text-decoration: none;

    -webkit-transition: all 500ms;
    transition: all 500ms;

    &:hover {
        color: $black-1;
    }
}

p {
    font-size: 1.4rem;
    font-weight: 100;

    @media all and (min-width: 768px) {
        font-size: 1.6rem;
    }

    @media all and (min-width: 1024px) {
        font-size: 1.8rem;
    }

    &.small {
        color: $gray-1;
        font-size: 1.1rem;
    }

    &.no-buffer {
        margin: 0;
        padding: 0;
    }

    &.no-buffer-top {
        margin-top: 0;
        padding-top: 0;
    }
}

.icon {
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0;

    &-github-white {
        width: 20px;
        height: 19.5px;
        background-image: url('/assets/images/github-white.svg');
    }

    &-github-blue {
        width: 16px;
        height: 15.61px;
        background-image: url('/assets/images/github-blue.svg');
    }

    &-dribbble-white {
        width: 20px;
        height: 20px;
        background-image: url('/assets/images/dribbble-white.svg');
    }

    &-dribbble-blue {
        width: 16px;
        height: 16px;
        background-image: url('/assets/images/dribbble-blue.svg');
    }

    &-twitter-white {
        width: 25px;
        height: 20px;
        background-image: url('/assets/images/twitter-white.svg');
    }
}
