@import './assets/styles/mixins';
@import './assets/styles/colors';
@import './assets/styles/generics';

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

*::selection {
  background: $teal-1;
}

*::-moz-selection {
  background: $teal-1;
}

body {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;

    background: white;
    font: normal normal 16px/1.5 'Signika', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6rem;

    // Fix for using 100vh on iPhones
    // https://gist.github.com/pburtchaell/e702f441ba9b3f76f587
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
        height: 1024px;
    }

    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
        height: 768px;
    }

    @media screen and (device-aspect-ratio: 40/71) {
        height: 500px;
    }

    // Disable body overflow on the two columns view
    @media all and (min-width: 768px) {
        overflow: hidden;
    }

    @media all and (min-width: 1024px) {
        overflow: hidden;
    }
}

.app {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

.color-code {
    .swatch {
        display: inline-block;
        position: relative;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,0.3);
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
}

.icon {
    display: block;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0;

    &-github-white {
        width: 20px;
        height: 19.5px;
        background-image: url('/assets/images/github-white.svg');
    }

    &-github-blue {
        width: 16px;
        height: 15.61px;
        background-image: url('/assets/images/github-blue.svg');
    }

    &-dribbble-white {
        width: 20px;
        height: 20px;
        background-image: url('/assets/images/dribbble-white.svg');
    }

    &-dribbble-blue {
        width: 16px;
        height: 16px;
        background-image: url('/assets/images/dribbble-blue.svg');
    }

    &-twitter-white {
        width: 25px;
        height: 20px;
        background-image: url('/assets/images/twitter-white.svg');
    }
}

.emoji {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;

    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;

    &-laughing-with-tears {
        margin-top: 2px;
        background-image: url('/assets/images/emoji-laughing_with_tears.svg');
    }

    &-information-desk-person {
        background-image: url('/assets/images/emoji-information_desk_person.svg');
    }

    &-palm-pointing-up {
        background-image: url('/assets/images/emoji-palm_pointing_up.svg');
    }

    &-raised-hands {
        margin-top: -4px;
        background-image: url('/assets/images/emoji-raised_hands.svg');
    }
}
