.super-navbar__item {
  display: block;
  padding: 14px;
  font-size: 16px;
  opacity: 1;

  &:after {
    content: "";
    display: block;
    width: 0%;
    margin: 4px auto;
    height: 2px;
    background: var(--color-text-default);
    opacity: 0;
    transition: all ease-in-out 300ms;
  }

  &:hover:after {
    width: 100%;
    opacity: 1;
  }
}

.super-navbar__menu-close {
  right: 0;
  top: 10px;
}

.super-navbar__menu-wrapper .super-navbar__menu-item-list {
  margin: 40px 0 0 0;

  .super-navbar__item {
    font-size: 32px;
    text-align: center;
  }

  .super-navbar__item:hover {
    color: var(--color-text-default-light);
  }

  .super-navbar__item:after {
    display: none;
  }
}

.notion-navbar,
.notion-navbar__search {
  display: none;
}
