---
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import meAvatar from "../assets/about/me-avatar.png";
import meHeadshot from "../assets/about/me-headshot.png";
import meMemoji from "../assets/about/me-memoji.png";
import meRainbow from "../assets/about/me-rainbow.png";

---

<Layout title="About">
  <script type="application/ld+json" slot="head">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Thalida Noel",
      "alternateName": "thalida",
      "url": "https://www.thalida.com/about/",
      "image": "https://www.thalida.com/public/assets/me-headshot.png",
      "jobTitle": "Product Engineer, Creative Technologist, Engineering Leader",
      "description": "Queer, first-generation Trinidadian-American engineer and designer based in New York. Passionate about systems, interfaces, and stories.",
      "worksFor": {
        "@type": "Organization",
        "name": "Tourus",
        "url": "https://tourus.io/"
      },
      "alumniOf": {
        "@type": "CollegeOrUniversity",
        "name": "Capitol Technology Unversity",
        "url": "https://www.captechu.edu/"
      },
      "sameAs": [
        "https://github.com/thalida",
        "https://linkedin.com/in/thalida/",
      ],
      "knowsAbout": [
        "Product Engineering",
        "Creative Technology",
        "Engineering Management",
        "Design Systems",
        "UX/UI Design",
        "Web Development",
        "Native Mobile Development",
        "Software Architecture",
        "Cloud Infrastructure",
      ],
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "New York",
        "addressRegion": "NY",
        "addressCountry": "US"
      }
    }
  </script>

  <div class="h-full p-8">
    <Header />

    <div class="my-8 lg:mx-8 flex flex-col items-center">
      <h1 class={`py-8 text-5xl lg:text-7xl font-brand text-center`}>
        About
      </h1>
      <article class="container mt-16 prose lg:prose-lg prose-slate dark:prose-invert">
        <div class="grid grid-cols-4 gap-1 md:grid-cols-4 md:gap-8">
          <Image
            src={meMemoji}
            alt="A Memoji of Thalida"
          />
          <Image
            src={meHeadshot}
            alt="A headshot of Thalida"
            class="rounded-3xl"
          />
          <Image
            src={meAvatar}
            alt="A cartoon avatar of Thalida"
            class="rounded-full"
          />
          <Image
            src={meRainbow}
            alt="A rainbow themed image of Thalida"
            class="rounded-3xl"
          />
        </div>
        <h2>Hey, I'm Thalida!</h2>
        <p>
          I’m a queer (pronouns they/she) first generation Trinidadian-American Engineer based in New York.
        </p>
        <p>
          Over 14 years ago for my 16th birthday I wanted one thing: a domain of my own. I was lucky enough to have a supportive mother who gifted me thalida.com, and over the years this site has been the place where I learn, grow, and experiment.
        </p>
        <p>
          I use this space to practice and learn, break things and experiment, grow and challenge myself in ways that have fewer consequences than messing around on a domain someone else owns. Here I am able to push myself as an engineer, designer, and writer. Which is all to say: if it’s ever broken, janky, or weird, I’m probably in the process of learning something new, and you’re coming along for the ride with me! ✨
        </p>
        <p>
          If you're interested in connecting:
        </p>
        <ul>
          <li> I'm on <a href="https://linkedin.com/in/thalida/" target="_blank" rel="noopener" class="inline-link"><i class="fa-linkedin fa-brands"></i>  LinkedIn</a></li>
          <li> Follow me on <a href="https://github.com/thalida" target="_blank" rel="noopener" class="inline-link"><i class="fa-github fa-brands"></i> Github</a></li>
          <li> Or, send me an <a href="mailto:hello@thalida.com" class="inline-link"><i class="fa-envelope fa-solid"></i>  email</a></li>
        </ul>

        <p class="bg-secondary-50 dark:bg-secondary-800 rounded-3xl p-4">
          I'm open to new opportunities and collaborations, so if you think we could work together, please reach out at
          <a href="mailto:hello@thalida.com" target="_blank" class="inline-link">
            <span>hello@thalida.com</span>
          </a>!
        </p>

        <hr>

        <h3>Career History</h3>

        <p>
          I have over 10 years of experience in the tech industry, working in various roles from Product Engineering to Engineering Management.
          My journey has taken me through startups, large corporations, and everything in between.
        </p>
        <div>
          <ul>
            <li>Most recently, I was Co-Founder and CTO of <a href="https://tourus.io" class="inline-link">Tourus</a>, a VC-backed mobile-first AI, automation, and communication suite for property managers and leasing agents</li>
            <li>Previously, I've worked at <a href="https://webflow.com/" class="inline-link">Webflow</a>, <a href="https://www.etsy.com" class="inline-link">Etsy</a>, and <a href="https://www.okcupid.com/" class="inline-link">OkCupid</a> as a Lead Engineer and Senior Engineering Manager</li>
            <li>I also have experience in design and product management</li>
          </ul>
        </div>


        <hr>

        <h3>About this site</h3>
        <p>
          This site is built with <a href="https://astro.build" class="inline-link">Astro</a> and hosted on <a href="https://vercel.com" class="inline-link">Vercel</a>.
          <a href="/versions" class="inline-link">
           Explore versions
           <i class="fa-solid fa-arrow-right"></i>
         </a>
        </p>
      </article>
    </div>

    <Footer />
  </div>
</Layout>
