---
import { getCollection } from "astro:content";
const posts = await getCollection("blog");
---

<h1>My posts</h1>
<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.id}/`}>{post.data.title}</a>
      </li>
    ))
  }
</ul>
