---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from 'astro:assets';
import { COLLECTION_NAMES } from "../content.config";
import Layout from "../layouts/Layout.astro";
import meImage from "../assets/images/me.avif";

let posts = [];
for (const collection of COLLECTION_NAMES as const) {
  const collectionPosts = await getCollection(collection);
  posts = posts.concat(collectionPosts);
}

posts.sort((a, b) => {
  const dateA =
    new Date(a.data.updatedOn).getTime() ||
    new Date(a.data.publishedOn).getTime();
  const dateB =
    new Date(b.data.updatedOn).getTime() ||
    new Date(b.data.publishedOn).getTime();

  return dateB - dateA; // Sort in descending order
});

interface Props {
  entry: CollectionEntry<"food" | "links" | "tech" | "craft">;
}
---

<script src="../components/live-window"></script>

<script>
  import type { ILiveWindowSceneConfig } from "../components/live-window/types";
  setTimeout(() => {
    const el = document.getElementById("main-window");
    if (el) {
      const date = new Date();
      date.setHours(12, 0, 0);
      const config: ILiveWindowSceneConfig = {
        useLiveWeather: true,
        useLiveTime: true,
        overrideTime: date,
        overrideWeather: "11d",
        clockFormat: "digital",
      };
      el.config = config;
    }
  }, 1000);
</script>

<Layout>
  <div
    class="grid grid-cols-2 gap-8 xl:grid-rows-4 xl:grid-cols-5 xl:h-screen p-8"
  >
    <div
      class="grid grid-cols-subgrid xl:grid-rows-subgrid gap-8 col-span-2 xl:col-span-1 xl:row-span-4"
    >
      <div
        class="relative bg-brand-50 dark:bg-brand-950 p-4 rounded-3xl row-span-1"
      >
        <Image
          src={meImage}
          alt="Thalida"
          class="absolute right-0 bottom-0 object-contain object-bottom-right size-full pointer-events-none"
          loading="lazy"
          />
        <div class="relative">
          <p>thalida.com</p>
          <p>created September 2007</p>
          <p>updated June 2025</p>
          <p>version: 45</p>
        </div>
      </div>
      <div
        class="relative bg-brand-50 dark:bg-brand-950 p-4 rounded-3xl row-span-2"
      >
      <p>Hey! My name's Thalida, I'm a Product Engineer based in New York.</p>

      <p>Welcome to my homebase on the web, I use this domain to showcase my work, learn new frameworks, and explore new, interesting ways of building web experiences.</p>
      <p> learn more about me -></p>
      <p>explore previous versions -></p>
    </div>
      <div
        class="flex bg-brand-50 dark:bg-brand-950 p-4 rounded-3xl row-span-1"
      >
        linkedin, github, dribbble, email
      </div>
    </div>

    <div
      class="flex rounded-3xl col-span-2 xl:col-span-3 xl:row-span-4 overflow-hidden h-[75svh] xl:h-full"
    >
      <livewindow-scene
        id="main-window"
        data-group="main-window"
        class="h-full w-full"></livewindow-scene>
    </div>

    <div
      class="grid grid-cols-subgrid xl:grid-rows-subgrid gap-8 col-span-2 xl:col-span-1 xl:row-span-4"
    >
      <div
        class="flex bg-brand-50 dark:bg-brand-950 p-4 rounded-3xl xl:row-span-1 grow-0"
      >
        <livewindow-details data-group="main-window"></livewindow-details>
      </div>
      <div
        class="flex bg-brand-50 dark:bg-brand-950 p-4 rounded-3xl xl:row-span-3"
      >
        controls
      </div>
    </div>
  </div>
  <div class="p-8">
    <div class="grid grid-cols-2 xl:grid-cols-4 gap-8 mt-8">
      <div class="col-span-full">Header</div>
      {
        posts.map((post) => (
          <a
            href={`/${post.collection}/${post.id}/`}
            class="flex bg-brand-50 dark:bg-brand-950 p-4 rounded-4xl overflow-clip  aspect-3/2"
          >
            {post.data.title || post.id}
          </a>
        ))
      }
    </div>
  </div>
</Layout>
