---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from 'astro:assets';
import { COLLECTION_NAMES } from "../content.config";
import Layout from "../layouts/Layout.astro";
import meImage from "../assets/images/me.png";

let posts = [];
for (const collection of COLLECTION_NAMES as const) {
  const collectionPosts = await getCollection(collection);
  posts = posts.concat(collectionPosts);
}

posts.sort((a, b) => {
  const dateA =
    new Date(a.data.updatedOn).getTime() ||
    new Date(a.data.publishedOn).getTime();
  const dateB =
    new Date(b.data.updatedOn).getTime() ||
    new Date(b.data.publishedOn).getTime();

  return dateB - dateA; // Sort in descending order
});

interface Props {
  entry: CollectionEntry<"food" | "links" | "tech" | "craft">;
}
---

<script src="../components/live-window"></script>

<script>
  import type { ILiveWindowSceneConfig } from "../components/live-window/types";
  setTimeout(() => {
    const el = document.getElementById("main-window");
    if (el) {
      const date = new Date();
      date.setHours(22, 0, 0);
      const config: ILiveWindowSceneConfig = {
        useLiveWeather: true,
        useLiveTime: false,
        overrideTime: date,
        overrideWeather: "11d",
        clockFormat: "digital",
      };
      el.config = config;
    }
  }, 5000);
</script>

<Layout>
  <div
    class="grid gap-8  p-8 grid-cols-1 sm:grid-cols-2 2xl:grid-rows-4 2xl:grid-cols-5 2xl:min-h-[60rem] 2xl:max-h-[max(60rem,100vh)]"
  >
    <div
      class="flex flex-col justify-between relative bg-accent-200 dark:bg-accent-900 p-4 rounded-3xl row-span-1 overflow-hidden sm:-order-1 2xl:order-0"
    >
      <div class="relative">
        <p class="font-brand text-3xl">thalida.com</p>
      </div>
        <Image
          src={meImage}
          alt="Thalida"
          class="absolute right-4 bottom-0 object-contain object-bottom-right size-5/6 pointer-events-none"
          loading="lazy"
          />
      <div class="relative text-white mix-blend-difference">
        <p><span>created</span> <span class="font-bold">2007</span></p>
        <p><span>updated</span> <span class="font-bold">2025</span></p>
        <p><span>version</span> <span class="font-bold">#25</span></p>
      </div>
    </div>

    <div
      class="flex rounded-3xl col-span-1 h-[70svh]  overflow-hidden sm:col-span-2 2xl:col-span-3 2xl:row-span-4 2xl:h-full"
    >
      <livewindow-scene
        id="main-window"
        data-group="main-window"
        class="h-full w-full"></livewindow-scene>
    </div>

    <div
      class="grid gap-8 grid-cols-subgrid col-span-1 sm:col-span-2 2xl:grid-rows-subgrid 2xl:col-span-1 2xl:row-span-4"
    >
      <div
        class="flex bg-brand-50 dark:bg-brand-950 p-4 rounded-3xl 2xl:row-span-1 grow-0"
      >
        <livewindow-details data-group="main-window"></livewindow-details>
      </div>
      <div
        class="flex bg-brand-50 dark:bg-brand-950 p-4 rounded-3xl 2xl:row-span-3"
      >
        controls
      </div>
    </div>

    <div
      class="flex flex-col justify-between bg-brand-50 dark:bg-brand-950 rounded-3xl row-span-2 overflow-hidden sm:-order-1 2xl:order-0"
    >
      <div class="flex flex-col gap-4 p-4 bg-white dark:bg-black flex-grow">
        <p class="font-bold">Welcome! My name's Thalida, I'm a Product Engineer based in New York.</p>

        <p>This domain is my homebase on the world wide web -- I use this space to explore and experiment, and also to brain-dump my collected knowledge, resources, and adventures.</p>
        <p> learn more -></p>
      </div>
      <div class="flex flex-col gap-4 p-4">
        <p>I'm regularly experimenting with this site, if you're curious you can explore previous versions!</p>
        <p>explore -></p>
      </div>
    </div>

    <div
      class="flex flex-col bg-brand-50 dark:bg-brand-950 p-4 rounded-3xl row-span-1 gap-2 justify-around sm:-order-1 2xl:order-0"
    >
      <a href="https://linkedin.com/in/thalida" class="flex items-center gap-2">
        <span class="fa-linkedin fa-brands fa-lg text-blue-500"></span>
        <span>linkedin.com/in/thalida</span>
      </a>
      <a href="https://github.com/thalida" class="flex items-center gap-2">
        <span class="fa-github fa-brands fa-lg text-dark dark:text-white"></span>
        <span>github.com/thalida</span>
      </a>
      <a href="https://dribbble.com/thalida" class="flex items-center gap-2">
        <span class="fa-dribbble fa-brands fa-lg text-pink-500"></span>
        <span>dribbble.com/thalida</span>
      </a>
      <a href="mailto:hello@thalida.com?subject=Hello%20from%20your%20website!" class="flex items-center gap-2">
        <span class="fa-envelope fa-solid fa-lg text-brand-500"></span>
        <span>hello@thalida.com</span>
      </a>
    </div>
  </div>


  <div class="p-8">
    <div class="grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-4 gap-8 mt-8">
      <div class="col-span-full">Header</div>
      {
        posts.map((post) => (
          <a
            href={`/${post.collection}/${post.id}/`}
            class="flex bg-brand-50 dark:bg-brand-950 p-4 rounded-4xl overflow-clip  aspect-3/2"
          >
            {post.data.title || post.id}
          </a>
        ))
      }
    </div>
  </div>
</Layout>
