@import '../../assets/styles/colors';
@import '../../assets/styles/generics';
@import '../../assets/styles/animations';

.t_interactive {
    display: block;
    position: relative;
    min-height: 330px;
    height: 50%;
    width: 100%;
    padding: 0;

    background-color: $purple-1;

    &-layers {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        background-size: cover;
        background-repeat: no-repeat;

        -webkit-transition: all 100ms;
        transition: all 100ms;

        .t_interactive.leaving & {
            -webkit-transition: all 800ms;
            transition: all 800ms;
        }
    }

    &-background {
        background-image: url('/assets/images/geometric-pattern-background.svg');
    }

    &-foreground {
        background-image: url('/assets/images/geometric-pattern-foreground.svg');
    }

    &-shapes {
        background-image: url('/assets/images/geometric-pattern-shapes.svg');
    }

}
