$theme-color-light: #FFF;
$theme-color-dark: #000;

$theme-color-gray: #788497;
$theme-color-brown: #A23F06;
$theme-color-orange: #F77518;
$theme-color-yellow: #F7A418;
$theme-color-green: #30DF87;
$theme-color-blue: #2563EB;
$theme-color-purple: #6D23EB;
$theme-color-pink: #DF307D;
$theme-color-red: #DF3030;

$theme-color-gray-light: #CED2D9;
$theme-color-brown-light: #AF7D60;
$theme-color-orange-light: #FAAF7A;
$theme-color-yellow-light: #FACB7A;
$theme-color-green-light: #88ECBA;
$theme-color-blue-light: #81A5F3;
$theme-color-purple-light: #AB81F3;
$theme-color-pink-light: #EC88B5;
$theme-color-red-light: #EC8888;
