<ol id="posts">
{% for post in posts %}
    <li class="post">
        {% if post.is_external %}
        <a href="{{ post.external_url | safe }}" target="_blank" rel="external">
        {% else %}
        <a href="{{ post.url | safe }}">
        {% endif %}
            <h3 class="post-title">
                {{ post.title }}

                {% if post.is_external %}
                <span class="icon-external">[external icon]</span>
                {% endif %}

                {% if post.category %}
                <span class="icon-{{ post.category }}">[{{ post.category }} icon]</span>
                {% endif %}
            </h3>
            <p class="post-summary">{{ post.summary | safe }}</p>
            {% if post.date and not post.is_default_date %}
            <span class="post-date">{{ post.date | datetime('%d %B %Y') }}</span>
            {% endif %}
        </a>
        <hr />
    </li>
{% endfor %}
</ol>
