{% extends "base.html" %}
{% block title %}
    Time
{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='css/home.css', v=globals.css_version)}}" rel="stylesheet">
{% endblock %}

{% block debug_output %}
    <style type="text/css">
        .ribbon {
            display: block;
            position: relative;
            width: 100%;
            height: 300px;
        }
        .ribbon-part {
            display: block;
            position: relative;
            float: left;
            width: 100px;
            height: 30px;
            color: white;
        }
    </style>
    <div class="ribbon clearfix">
        {% for range in range_24hr %}
            <span class="ribbon-part" style="background-color: {{ range.color.as_str }}">{{ range.saying.salutation }}</span>
        {% endfor %}
    </div>
{% endblock%}
