{% extends "base.html" %}
{% block title %}
    {{ post.meta.title }}
{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='css/markdown-themes/markdown3.css', v=css_version)}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/highlight-themes/default.css', v=css_version)}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/post.css', v=css_version)}}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="post_header">
        <h1>{{ post.meta.title }}</h1>
        <hr />
        {% if post.meta.date and not post.meta.is_default_date %}
            <span>Posted on <span>{{ post.meta.date | datetime('%d %B %Y') }}</span></span>
        {% endif %}
        {% if post.meta.category %}
            <span>Category <span>{{ post.meta.category }}</span></span>
        {% endif %}
    </div>
    
    <div id="post_content">
        {{ post.html | safe }}
    </div>

    <div id="post_footer">
        <h2>{{ collection.meta.title }}</h2>
        <ol id="posts">
        {% for post_key in next_posts %}
        {% set post = posts_meta[post_key] %}
            <li class="post">
                {% if post.is_external %}
                <a href="{{ post.external_url | safe }}" target="_blank" rel="external">
                {% else %}
                <a href="{{ post.url | safe }}">
                {% endif %}
                    <h3 class="post-title">
                        {{ post.title }}

                        {% if post.is_external %}
                        <span class="icon-external">[external icon]</span>
                        {% endif %}

                        {% if post.category %}
                        <span class="icon-{{ post.category }}">[{{ post.category }} icon]</span>
                        {% endif %}
                    </h3>
                    <p class="post-summary">{{ post.summary | safe }}</p>
                    {% if post.date and not post.is_default_date %}
                    <span class="post-date">{{ post.date | datetime('%d %B %Y') }}</span>
                    {% endif %}
                </a>
                <hr />
            </li>
        {% endfor %}
        </ol>
        <!-- {% if posts %}
            <h2>Next Up</h2>
            {% include "modules/posts_list.html" %}
        {% endif %} -->
    </div>
{% endblock %}
