{% extends "base.html" %}
{% block title %}
    {{ post.meta.title }}
{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='css/markdown-themes/markdown3.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/highlight-themes/default.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/post.css')}}" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script>
window.app_post_meta = {{ post.meta | tojson }};
</script>
{% endblock %}

{% block body %}
    prev {{ prev_post.path | safe }} <br /> 
    curr {{ post.path | safe }} <br /> 
    next {{ next_post.path | safe }}
    <br /><br /><br /><br /><br /><br /><br />
    {{ post.meta | safe }}
    <br /><br /><br /><br /><br /><br /><br />
    {{ post.html | safe }}
{% endblock %}
