{% extends "base.html" %}
{% block title %}
    {{ post.meta.title | safe }}
{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='css/markdown-themes/theme.css', v=globals.datetime.server_start)}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/highlight-themes/pastie-custom.css', v=globals.datetime.server_start)}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/post.css', v=globals.datetime.server_start)}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="post">
    {% set collection = globals.all_collections[post.meta.collection] %}
    <div class="post_header">
    <div class="post_details">
        {% if post.meta.date_updated %}
            <span class="xtext--bold">{{ post.meta.date_updated | datetime('post') }}</span><span class="text--middot">·</span>
        {% elif post.meta.date_posted and not post.meta.is_default_date %}
            <span class="xtext--bold">{{ post.meta.date_posted | datetime('post') }}</span><span class="text--middot">·</span>
        {% endif %}
        <a class="link--secondary text--bold" href="/#collection-{{collection.key}}">#{{ collection.meta.title | safe }}</a>
    </div>
        <h1 class="post_title header--primary">{{ post.meta.title | safe }}</h1>
        <p class="post_summary text--primary">{{ post.meta.summary | safe }}</p>
    </div>

    <div class="post_content markdown-container">
        {{ post.html | safe }}
    </div>

    {% set posts = next_posts %}
    {% if posts|length > 1 %}
    <div class="post_footer collection">
        <h2 class="collection__header header--secondary">More in {{ collection.meta.title | safe }}</h2>
        {% include "_partials/posts-grid.html" %}
    </div>
    {% endif %}
</div>
{% endblock %}
