---
import { LinkPreview } from "@astro-community/astro-embed-link-preview";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("links");
---

<Layout>
  <h1>Links</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <span>{post.id}</span>
          <LinkPreview id={post.id} />
        </li>
      ))
    }
  </ul>
</Layout>
