.super-navbar {
  backdrop-filter: blur(4px);

  .super-navbar__menu-wrapper {
    display: none;
  }

  .super-navbar__content {
    max-width: var(--layout-max-width);
    margin: auto;
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    @media(max-width: 546px) {
      padding-left: var(--padding-left-mobile);
      padding-right: var(--padding-right-mobile);
    }
  }

  .super-navbar__logo,
  .super-navbar__actions {
    padding: 0;
  }

  .super-navbar__item-list {
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-size: 0.8rem;
    height: auto;
    overflow: auto;
  }

  .super-navbar__item {
    height: auto;
    padding: 14px 1vw;
    opacity: 0.6;

    &:hover,
    &.active {
      opacity: 1;
      font-weight: bold;
    }
  }

  @media (max-width: 860px) {
    .super-navbar__item-list {
      display: flex;
    }

    .super-navbar__item {
      width: auto;
      padding: 12px 1vw;
      text-align: left;
      font-size: 0.6rem;
    }

    .super-navbar__logo-text {
      font-size: 0.8rem !important;
    }

    .super-navbar__menu-open {
      display: none;
    }

    .super-navbar__actions.hide {
      display: none;
    }
  }

  @media (max-width: 370px) {
    .super-navbar__item-list {
      display: none;
    }

    .super-navbar__menu-open {
      display: flex;
    }

    .super-navbar__actions.hide {
      display: grid;
    }

    .super-navbar__menu-wrapper.active {
      display: flex;
      transform: scale(1);
      opacity: 1;
      z-index: 10;
    }
  }
}
