.notion-bookmark {
  margin: 0 0 16px;

  & > a {
    display: flex;
    flex-flow: row-reverse nowrap;

    @media only screen and (max-width: 680px) {
      flex-flow: column-reverse nowrap;

      .notion-bookmark__cover {
        width: 100%;
      }
    }
  }

  .notion-bookmark__title {
    font-size: 16px;
  }

  .notion-bookmark__description {
    font-size: 14px;
  }
}
