.notion-bookmark {
  border: 0;
  border-radius: 0;

  &>a.notion-link {
    display: flex;
    flex-flow: column-reverse nowrap;
    padding: 8px;
    background: var(--color-bookmark-bg);
    border-radius: var(--bookmark-border-radii);
    border: 2px solid var(--bookmark-border-color);
    transition: 400ms background ease-in-out;

    &:hover {
      background: var(--color-ui-hover-bg);
    }
  }

  &:hover {
    background: transparent;
  }

  .notion-bookmark__cover {
    width: 100%;
    min-height: 150px;
    flex: 0 0 auto;
    border-radius: var(--bookmark-border-radii);

    img {
      border-radius: var(--bookmark-border-radii);
    }
  }

  .notion-bookmark__content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
  }

  .notion-bookmark__title {
    font-weight: 500;
  }

  .notion-bookmark__link {
    order: -1;
    margin: 0 0 10px 0;
  }

  @media(min-width:500px) {
    &>a.notion-link {
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: left;
      align-items: center;
    }

    .notion-bookmark__cover {
      width: 25%;
      min-height: auto;
    }
  }
}
