.notion-callout.border.bg-gray,
.notion-callout.border.bg-gray-light,
.notion-callout.border.bg-brown,
.notion-callout.border.bg-brown-light,
.notion-callout.border.bg-orange,
.notion-callout.border.bg-orange-light,
.notion-callout.border.bg-yellow,
.notion-callout.border.bg-yellow-light,
.notion-callout.border.bg-green,
.notion-callout.border.bg-green-light,
.notion-callout.border.bg-blue,
.notion-callout.border.bg-blue-light,
.notion-callout.border.bg-purple,
.notion-callout.border.bg-purple-light,
.notion-callout.border.bg-pink,
.notion-callout.border.bg-pink-light,
.notion-callout.border.bg-red,
.notion-callout.border.bg-red-light {
  border: 0;
}


.notion-callout.border.bg-gray,
.notion-callout.border.bg-gray-light {
  background-color: var(--color-gray);
}

.notion-callout.border.bg-brown,
.notion-callout.border.bg-brown-light {
  background-color: var(--color-brown);
}

.notion-callout.border.bg-orange,
.notion-callout.border.bg-orange-light {
  background-color: var(--color-orange);
}

.notion-callout.border.bg-yellow,
.notion-callout.border.bg-yellow-light {
  background-color: var(--color-yellow);
}

.notion-callout.border.bg-green,
.notion-callout.border.bg-green-light {
  background-color: var(--color-green);
}

.notion-callout.border.bg-blue,
.notion-callout.border.bg-blue-light {
  background-color: var(--color-blue);
}

.notion-callout.border.bg-purple,
.notion-callout.border.bg-purple-light {
  background-color: var(--color-purple);
}

.notion-callout.border.bg-pink,
.notion-callout.border.bg-pink-light {
  background-color: var(--color-pink);
}

.notion-callout.border.bg-red,
.notion-callout.border.bg-red-light {
  background-color: var(--color-red);
}

.notion-callout.border,
.notion-callout.border.color-gray,
.notion-callout.border.color-gray-light,
.notion-callout.border.color-brown,
.notion-callout.border.color-brown-light,
.notion-callout.border.color-orange,
.notion-callout.border.color-orange-light,
.notion-callout.border.color-gray,
.notion-callout.border.color-gray-light,
.notion-callout.border.color-brown,
.notion-callout.border.color-brown-light,
.notion-callout.border.color-orange,
.notion-callout.border.color-orange-light,
.notion-callout.border.color-yellow,
.notion-callout.border.color-yellow-light,
.notion-callout.border.color-green,
.notion-callout.border.color-green-light,
.notion-callout.border.color-blue,
.notion-callout.border.color-blue-light,
.notion-callout.border.color-purple,
.notion-callout.border.color-purple-light,
.notion-callout.border.color-pink,
.notion-callout.border.color-pink-light,
.notion-callout.border.color-red,
.notion-callout.border.color-red-light {
  border-width: 3px;
  border-style: solid;
}



.notion-callout.border.color-gray,
.notion-callout.border.color-gray-light {
  border-color: var(--color-gray);
}

.notion-callout.border.color-brown,
.notion-callout.border.color-brown-light {
  border-color: var(--color-brown);
}

.notion-callout.border.color-orange,
.notion-callout.border.color-orange-light {
  border-color: var(--color-orange);
}

.notion-callout.border.color-yellow,
.notion-callout.border.color-yellow-light {
  border-color: var(--color-yellow);
}

.notion-callout.border.color-green,
.notion-callout.border.color-green-light {
  border-color: var(--color-green);
}

.notion-callout.border.color-blue,
.notion-callout.border.color-blue-light {
  border-color: var(--color-blue);
}

.notion-callout.border.color-purple,
.notion-callout.border.color-purple-light {
  border-color: var(--color-purple);
}

.notion-callout.border.color-pink,
.notion-callout.border.color-pink-light {
  border-color: var(--color-pink);
}

.notion-callout.border.color-red,
.notion-callout.border.color-red-light {
  border-color: var(--color-red);
}



.notion-callout.border.color-gray,
.notion-callout.border.color-gray-light {
  border-color: var(--color-gray);
}

.notion-callout.border.color-brown,
.notion-callout.border.color-brown-light {
  border-color: var(--color-brown);
}

.notion-callout.border.color-orange,
.notion-callout.border.color-orange-light {
  border-color: var(--color-orange);
}

.notion-callout.border.color-yellow,
.notion-callout.border.color-yellow-light {
  border-color: var(--color-yellow);
}

.notion-callout.border.color-green,
.notion-callout.border.color-green-light {
  border-color: var(--color-green);
}

.notion-callout.border.color-blue,
.notion-callout.border.color-blue-light {
  border-color: var(--color-blue);
}

.notion-callout.border.color-purple,
.notion-callout.border.color-purple-light {
  border-color: var(--color-purple);
}

.notion-callout.border.color-pink,
.notion-callout.border.color-pink-light {
  border-color: var(--color-pink);
}

.notion-callout.border.color-red,
.notion-callout.border.color-red-light {
  border-color: var(--color-red);
}
