.notion-collection-table .notion-collection-table__head {
  background-color: var(--table-header-bg);
}

.notion-collection-table__wrapper .notion-property__title .notion-property__title__icon-wrapper {
  display: none;
}

.notion-collection-table__cell.title>a {

  &,
  &:hover {
    .notion-semantic-string>span {
      border: 0;
    }
  }
}
