.notion-collection .notion-collection-gallery,
.notion-collection.inline .notion-collection-gallery {
  border: 0;

  .notion-collection-card {
    background: transparent;
    border-radius: 24px;
    box-shadow: none;

    .notion-collection-card__cover {
      border-radius: 1em;
      border: 0;
      padding-top: 100%;
      height: auto;
      min-height: 0;
      filter: blur(0);
    }

    .notion-collection-card__content {
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: column nowrap;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 0px;
      padding: 16px;
      background: hsla(var(--color-bg-default-h), var(--color-bg-default-s), var(--color-bg-default-l), 0.8);

      .notion-property__select {
        flex-flow: row wrap;
      }

      .notion-collection-card__property .notion-property__text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &:before {
        content: "";
      }

      &:after {
        content: "";
      }
    }

    &:hover {
      transform: scale(0.95);

      .notion-collection-card__content {
        min-height: 100%;
        background: linear-gradient(90deg,
            hsla(var(--color-bg-default-h), var(--color-bg-default-s), var(--color-bg-default-l), 0.95) 0%,
            hsla(var(--color-bg-default-h), var(--color-bg-default-s), var(--color-bg-default-l), 0.3) 100%);
      }

      .notion-collection-card__cover {
        filter: blur(2px);
      }
    }
  }


  .notion-property.notion-property__title {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    line-height: 1.2;

    .notion-property__title__icon-wrapper {
      display: none;
    }
  }

  &.small {
    gap: 18px;

    .notion-collection-card,
    .notion-collection-card__cover,
    .notion-collection-card__content {
      transition: all 300ms ease-in-out;
    }

    .notion-collection-card .notion-collection-card__content {
      justify-content: center;
    }

    .notion-property__title {
      flex-flow: row wrap;
      font-size: 1rem;
      white-space: normal;
    }

    .notion-property__title__icon-wrapper {
      display: none;
    }
  }

  &.medium {
    gap: 24px;

    @media(max-width: 300px) {
      grid-template-columns: 100%;
    }

    .notion-collection-card,
    .notion-collection-card__cover,
    .notion-collection-card__content {
      transition: all 500ms ease-in-out;
    }

    .notion-collection-card .notion-collection-card__content {
      justify-content: space-between;
    }

    .notion-collection-card__property-list {
      font-size: 0.8rem;
    }
  }

  &.large {
    gap: 32px;

    @media(max-width: 350px) {
      grid-template-columns: 100%;
    }

    .notion-collection-card,
    .notion-collection-card__cover,
    .notion-collection-card__content {
      transition: all 600ms ease-in-out;
    }

    .notion-collection-card .notion-collection-card__content {
      justify-content: space-between;
    }

    .notion-collection-card__property-list {
      font-size: 0.8rem;
    }
  }
}
