.notion-collection-list {
  border: 0;
}

.notion-collection-list__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 1em;

  @media(max-width: 546px) {
    border-bottom: 0;
  }

  .notion-property__title {
    max-width: 100%;
    font-size: 1.2rem;
    margin-bottom: 4px;
    padding-bottom: 4px;

    .notion-property__title__icon-wrapper {
      display: none;
    }

    .notion-semantic-string>span {
      border-bottom: 2px solid var(--color-link);
    }
  }

  .notion-collection-list__item-content {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: start;

    .notion-property.notion-property__text {
      max-width: none;
      color: var(--color-text-default-light);
    }

    .notion-collection-list__item-property .notion-property.notion-property__select {
      display: flex;
      flex-flow: row wrap;
    }

    .notion-collection-list__item-property:first-child {
      width: 100%;
      pointer-events: none;
    }

    .notion-semantic-string {
      &,
      & * {
        color: var(--color-text-default-light) !important;
      }
    }
  }
}
