.notion-collection .notion-collection-gallery,
.notion-collection.inline .notion-collection-gallery {
  border: 0;

  .notion-collection-card {
    background: transparent;
    border-radius: 24px;
    box-shadow: none;
    overflow: visible;
    transition: all 200ms ease-in-out;

    .notion-collection-card__cover {
      border-radius: 1em;
      border: 0;
      padding-top: 100%;
      height: auto;
      min-height: 0;
    }

    .notion-collection-card__content {
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 16px;
      background: rgba(0, 0, 0, 0.5);
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, transparent 100%);

      .notion-property__select {
        flex-flow: row wrap;
      }

      .notion-collection-card__property .notion-property__text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      &:before {
        content: "";
      }
    }

    &:hover {
      transform: translateY(15px);
      z-index: 2;
    }
  }


  .notion-property.notion-property__title {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.2;

    .notion-property__title__icon-wrapper {
      display: none;
    }
  }

  &.small {
    gap: 18px;

    .notion-collection-card__cover {
      margin-bottom: 10px;
    }

    .notion-collection-card:hover .notion-collection-card__cover {
      box-shadow: 0 0 48px black;
    }

    .notion-property__title .notion-semantic-string {
      flex-flow: row wrap;
      font-size: 1rem;
      white-space: normal;
    }

    .notion-property__title__icon-wrapper {
      display: none;
    }
  }

  &.medium {
    gap: 24px;

    @media(max-width: 300px) {
      grid-template-columns: 100%;
    }

    .notion-collection-card__cover {
      margin-bottom: 15px;
    }

    .notion-collection-card:hover .notion-collection-card__cover {
      box-shadow: 0 0 64px black;
    }
  }

  &.large {
    gap: 32px;

    @media(max-width: 350px) {
      grid-template-columns: 100%;
    }

    .notion-collection-card:hover {
      box-shadow: 0 0 96px black;
    }
  }
}
