.notion-collection-list {
  border: 0;
}

.notion-collection-list__item {
  flex-flow: column wrap;
  align-items: flex-start;
  margin: 4px 0;
  padding: 10px;
  border-radius: 0;

  .notion-property__title {
    position: relative;

    .notion-semantic-string {
      font-weight: 700;
      font-size: 1.2em;
      margin-inline-start: 0;
      margin-inline-end: 0;
      white-space: pre-wrap;

      & > span {
        border: 0;
      }
    }

    .notion-property__title__icon-wrapper {
      display: none;
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      margin: 0 auto;
      height: 2px;
      background-color: var(--color-text-blue);
      position: absolute;
      bottom: 0;
      left: 0;
      cursor: pointer;
      transition: all 200ms ease-in-out;
    }
  }

  .notion-collection-list__item-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .notion-collection-list__item-property {
    padding: 4px 0;

    .notion-semantic-string {
      white-space: normal;
    }
  }

  .notion-property__url .notion-link:not(.notion-collection-list__item-anchor) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 0;

    &:after {
      display: none;
    }
  }

  &:hover {
    .notion-property__title:after {
      height: 100%;
      z-index: -1;
      transform: skewY(-2deg);
    }
  }

  @media (max-width: 546px) {
    flex-direction: column;
    align-items: flex-start;
    border: 0;
  }
}
