// "H4"
.notion-text .highlighted-color.color-gray strong {
  color: var(--color-text-default);
  font-weight: var(--heading-weight);
  margin-bottom: 0px;
  padding: 3px 2px;
  position: relative;
  font-family: var(--primary-font);
  font-size: 1rem;
  margin-top: 0.5rem;
}
