// "H4"
.notion-text .highlighted-color.color-gray strong,
.notion-toggle .notion-toggle__summary .highlighted-color.color-gray strong {
  color: var(--color-text-default);
  font-weight: var(--heading-weight);
  margin-bottom: 0px;
  padding: 3px 0;
  position: relative;
  font-family: var(--primary-font);
  font-size: var(--heading4-size);
  margin-top: 0.5rem;
}
