.notion-pill,
.notion-collection-list__item-property .notion-property__select .notion-pill {
  padding: 2px 8px !important;
  border-radius: 50px;
  font-size: 0.8em !important;
}

.pill-default {
  display: none;
}

.pill-gray,
.pill-gray-light {
  border: 1px solid var(--color-gray);
}

.pill-brown,
.pill-brown-light {
  border: 1px solid var(--color-brown);
}

.pill-orange,
.pill-orange-light {
  border: 1px solid var(--color-orange);
}

.pill-yellow,
.pill-yellow-light {
  border: 1px solid var(--color-yellow);
}

.pill-green,
.pill-green-light {
  border: 1px solid var(--color-green);
}

.pill-blue,
.pill-blue-light {
  border: 1px solid var(--color-blue);
}

.pill-purple,
.pill-purple-light {
  border: 1px solid var(--color-purple);
}

.pill-pink,
.pill-pink-light {
  border: 1px solid var(--color-pink);
}

.pill-red,
.pill-red-light {
  border: 1px solid var(--color-red);
}
