.notion-table-of-contents__item {
  color: var(--color-text-default);
  border-radius: 4px;
}

.notion-table-of-contents__item:hover {
  color: var(--color-text-default-light);
}

.notion-table-of-contents__item .notion-semantic-string {
  border-bottom: 0;
}

.notion-table-of-contents__item>a>div {
  padding: 0.25rem 0.5rem
}
