.notion-header,
.notion-header__cover,
.notion-header__icon-wrapper,
.notion-collection__header {
  display: none;
}

.notion-column>.notion-image {
  align-self: center;
}

.super-content {
  margin-top: 15vh;
}
