@import './assets/styles/variables';
@import './assets/styles/animations';

html,
body,
#app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;

  color: $color-dark;
  font-family: 'Roboto Mono', monospace;
}

.app-left {
  height: 90%;
}

.app-left,
.app-right {
  display: block;
  position: relative;
}

@media (min-width: $media-lg) {
  .app-left,
  .app-right {
    display: block;
    position: fixed;
    width: 50%;
    top: 0;
    height: 100%;
  }
  
  .app-left {
    left: 0;
    overflow: hidden;
  }

  .app-right {
    right: 0;
    overflow: auto;
  }
}

a {
  color: $color-link;
  font-weight: 700;
  text-decoration: none;
  opacity: 1;

  &:not(.fade-hover):hover {
    text-decoration: underline;
  }

  &.fade-hover:hover {
    opacity: 0.6;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1,
.h1 {
    font-size: 18px;
    font-weight: 300;
    color: rgba(0,0,0,0.80);
    padding: 0;
    margin: 0;
}

h2,
.h2 {
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  padding: 0;
  margin: 0;
}

p,
.p1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 0;
  margin: 0;
}

.space-p {
  display: inline-block;
  margin: 0;
  padding: 4px;

  color: $color-light;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;

  background-color: rgba($bg-color, 0.5);
  border-radius: 30px;

  @media (min-width: $media-md) {
    padding: 8px 16px;
    margin: 0 0 8px;
  }
}

.space-p1 {
  font-size: 24px;

  @media (min-width: $media-sm) {
    font-size: 32px;
  }
}

.space-p2 {
  font-size: 16px;

  @media (min-width: $media-sm) {
    font-size: 18px;
  }
}

