@import "./variables.scss";
@import "./mixins.scss";

@include keyframes( gradient ) {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@include keyframes( rotate ) {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@include keyframes( translate ) {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@include keyframes( droplets ) {
    0% {
        margin-left: -200px;
        margin-top: 0px;
        opacity: 1;
    }
    100% {
        margin-left: -120px;
        margin-top: 100px;
        opacity: 0;
    }
}

@include keyframes( clouds ) {
    0%,
    100% {
        margin-left: -250px;
        padding-top: 0px;
    }
    50% {
        margin-left: -230px;
        padding-top: 10px;
    }
}

.animation-space-rotate {
  animation: rotate linear $star-animation-speed infinite;
}

.animation-earth-rotate {
  animation: translate linear $earth-translate-animation-speed infinite;
}

.animation-moon-rotate {
    &:before,
    &:after {
        animation: translate linear $moon-translate-animation-speed infinite;
    }
}

.animation-gradient {
  background-size: 200% 200%;
  animation: gradient $gradient-animation-timing $gradient-animation-speed infinite;
}
