
// https://css-tricks.com/examples/ShapesOfCSS/
.shape {
  &-hexagon {
    display: block;
    width: 100px;
    height: 60px;
    background: red;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid red;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid red;
    }
  }

  &-square {
    display: block;
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
  }

  &-circle {
    display: block;
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    border-radius: 50%;
  }

  &-pentagon {
    position: relative;
    width: 90px;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: red transparent;
    
    &:before {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      top: -85px;
      left: -18px;
      border-width: 0 45px 35px;
      border-style: solid;
      border-color: transparent transparent red;
    }
  }

  &-triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;

    margin-top: 100px;
  }

  &-octagon {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 29px solid red;
      border-left: 29px solid $bg-color;
      border-right: 29px solid $bg-color;
      width: 100px;
      height: 0;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      border-top: 29px solid red;
      border-left: 29px solid $bg-color;
      border-right: 29px solid $bg-color;
      width: 100px;
      height: 0;
    }
  }

  &-diamond {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: red;
    position: relative;
    top: -50px;
    
    &:after {
      content: '';
      position: absolute;
      left: -50px;
      top: 50px;
      width: 0;
      height: 0;
      border: 50px solid transparent;
      border-top-color: red;
    }
  }
}
