$media-xs: 0;
$media-sm: 480px;
$media-md: 640px;
$media-lg: 900px;
$media-xl: 1200px;
$media-tv: 1680px;

$color-dark: #1C1F40;
$color-light: #FFFFFF;
$color-link: $color-dark;

$bg-color: #1C1F40;

$shape-width: 80px;
$shape-height: 80px;
