$media-xs: 0;
$media-sm: 480px;
$media-md: 640px;
$media-lg: 900px;
$media-xl: 1200px;
$media-tv: 1680px;

$color-dark: #1E1D32;
$color-light: #FFFFFF;
$color-link: $color-dark;
$bg-color: #1E1D32;
$featured-section-bg-color: #ACE3FF;

$space-stars-color: #FFFFFF;
$space-sun-color: #FFD080;
$space-moon-color: #B9B9B9;
$space-earth-water-color: #ACE3FF;
$space-earth-land-color: #C5FFD2;
$space-earth-shadow-color: #000000;

$weather-rain-color: #7CD3FF;
$weather-snow-color: #FFFFFF;
$weather-sleet-color: lighten($weather-rain-color, 12%);
$weather-cloud-color: #FFFFFF;

$total-seconds-in-day: (24 * 60 * 60);
$star-animation-speed: 600s;
$sun-animation-speed: 20s;
$earth-translate-animation-speed: 60s;
$moon-translate-animation-speed: 30s;
$gradient-animation-timing: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$gradient-animation-speed: 10s;
