---
import  SpeedInsights  from "@vercel/speed-insights/astro"
import "../styles/global.css";
const { bodyColor = "bg-surface-100 dark:bg-surface-900" } = Astro.props;
---

<!doctype html>
<html lang="en" class={`${bodyColor}`}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>thalida.com</title>
    <meta name="description" content="A personal website of Thalida, a software engineer and designer. Explore my projects, blog posts, and more." />
    <meta name="keywords" content="Thalida, software engineer, designer, personal website, blog, projects" />
    <meta name="author" content="Thalida" />
    <meta name="theme-color" content="#1be48c" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="text-black dark:text-white">
    <slot />
  </body>
</html>
