---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="en" class="bg-brand-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="text-gray-900 dark:text-gray-10">
    <slot />
  </body>
</html>
