[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
requests = "*"
emoji = "*"
nltk = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.9"
